#videoContainer{
    height: 200%;
    width:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: TT-Norm-Bold, serif;
}

#videoContainer video{
    position: fixed;
    top: -23%;   
    z-index: -2;
}
#vidTxt{
    height: 55%;
}
#vidTxt, #vidTxt h1{
    display: flex;
    flex-flow:column wrap ;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 52px;
}


#vidTxt a{
    z-index: 1;
    background-color: transparent;
    border: none;
    color: white;
    position: relative;
    animation: example 1.5s ease-in-out 0s infinite alternate;

}

@keyframes example {
    0%   {top:-10px;}
    25%  {top:-10px;}
    50%  {top:0px;}
    75%  {top:-10px;}
    100% {top:-10px;}
  }

  
#scrollto{
  position: absolute;
  top:100%;
}

  .lightBold{
     font-family: TT-Norm-lightBold, serif;
  }
  .boldTxt{
    font-size: 72px;

     font-family: TT-Norm-Bold, serif;
     font-weight: 700;
  }

  .orangeBack{
      background-color: rgb(255, 153, 0);
      z-index: 3;
      transition: all 0.4s ease-in-out 0s;
  }

  .secondPage{
      height:45%;
      width:60%;
      display: flex;
      flex-flow:row wrap;
      align-items: center;
      justify-content: center;
      opacity: 0;
      text-align: center;
      color: white;
      font-size: 1.2rem;
      font-family: TT-Norm-light, serif;
      transition: opacity 0.2s ease-in-out 0s;

      /* z-index: 2; */
  }

  .secondTxt{
      width: 80%;
  }

  // .col-1 img{
  //     width: 6em;
  // }



  .displayTxt{
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0s;
  }

 [class*="col-"]{
    // box-sizing: border-box;

    padding:1em;
    // margin:1em;
  }

  @media screen and (max-width: 700px) {
    .space {
      display: none;
    }

    .secondTxt{
      width:100%;
    }

    .secondPage{
      width:80%;

    }

    #videoContainer video{
      top: 0;   
      height: 100%;
      // width:100%;
      // transform: scale(0.9);
  }

  #vidTxt h1{
    font-size: 26px;
  }
  .boldTxt{
    font-size: 36px;

  }
  }

  // @media screen and (max-width: 992px) {
  //   .space {
  //     display: none;
  //   }

  //   .secondTxt{
  //     width:100%;
  //   }

  //   .secondPage{
  //     width:80%;

  //   }

  //   #videoContainer video{
  //     top: 0;   
  //     height: 100%;
  //     // width:100%;
  //     // transform: scale(0.9);
  // }

  // #vidTxt h1{
  //   font-size: 26px;
  // }
  // .boldTxt{
  //   font-size: 36px;

  // }
  // }