.employee{

        height:70%;
        width:75%;
        display: flex;
        flex-flow:wrap column;
        justify-content: space-around;

        h1{
            font-family: 'TT-Norm-lightBold';
            font-size:3rem;

        }

        h4{
            font-family:"TT-Norm-lightBold";
            margin-bottom: 0px;
        }
        p, h6{
            font-family: 'TT-Norm-Extralight';
            font-size:0.9rem;
            font-weight: 700;
            padding: 0px;
            margin-top:0px;
        }
        h3{
             font-family: 'TT-Norm-Italic';
            
        }

}
